%form{:method => "post", :id=>'contactInfo'}
  %input{:type=>'text', :size=>20, :name=>'name', :id=>'contactName'}
  %input{:type=>'text', :size=>200, :name=>'email, :id=>contactEmail'} 
  %input{:type=>'text', :size=>400, :name=>'disc', :id=>'contactDisc'}
  %input{:type=>'submit', :value=>'Send', :id=>'contactSubmit'}

  
