%form{:method => "post", :id=>'contactInfo'}
  %label{:class=>'contactLabel'}
    Name
  %input{:type=>'text', :size=>20, :name=>'name', :id=>'contactName'}

  %label{:class=>'contacLabel'}
    Email Address
  %input{:type=>'text', :size=>20, :name=>'email, :id=>contactEmail'}

  %label{:class=>'ContactLabel'}
    Discription
  %textarea{:rows=>'1', :cols=>'1', :name=>'disc', :id=>'contactDisc'}

  %input{:type=>'submit', :value=>'Send', :id=>'contactSubmit'}

  
