%article#banner
  %h1 <span>Hello,</span> My name is <span>Brad</span> and I build <span>Things.</span>

%article#about
  %h1 About Me
  %p Hello, my name is Brad.  I a web developer living and working in Columbus, Ohio.  I have a passion for the web, good design, and  Free and Open Source technologies.  I strive to be open-minded and embrace new principles and ideas when working on projects.  I am experienced in both front-end and back-end development. I am a firm believer in using the right tools for what's fit for a project.
