%article#banner
  %h1 <span>Hello,</span> My name is <span>Brad</span> and I build <span>Things.</span>

%article#about
  %h1 About Me
  %p My name is Brad and I am a developer living in Columbus, Ohio.  I am experienced with both front-end and back-end developement. I work primarily with Ruby, Python, C++, and Javascript.
