section#hero

%section#about
  %h3 Hello,
  %p my name is Brad Walker and I'm a web developer.
%section#projects
  %ul
    %li.graph
      %h3 Data Reporting Applications
    %li.shop
      %h3 e-Commerce Applications
    %li.git
      %h3 Personal Projects

