!!! 5
%html{:lang=>"eng"}
  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=UTF=8"}
    %meta{:name=>"keywords", :content=>"Calamari Labs, python, ruby, android, design, development, Brad Walker"}
    %meta{:name=>"title", :content=>"Calamari Labs"}
    %title Brad Walker
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"css/app.css", :media=>"screen"}
  %body
    %header
      %h1
        %a{:href=>"/", :title=>"brad walker"} brad walker
        %ul
          %li
            %a{:href=>'/', :title=>'Home'}
              %h3 Home
          %li
            %a{:href=>'/work', :title=>'Work'}
              %h3 Work
          %li
            %a{:href=>'/contact', :title=>'Contact'}
              %h3 Contact
    #wrapper
      =yield
      #clear_footer
    #footer
      %p Brad Walker © 2012


