@font-face {
    font-family: "ChunkFiveRegular";
    src: url('../fonts/Chunkfive-webfont.eot');
    src: url('../fonts/Chunkfive-webfont.eot?#iefix'),
         url('../fonts/Chunkfive-webfont.woff'),
         url('../fonts/Chunkfive-webfont.ttf'),
         url('../fonts/Chunkfive-webfont.svg#ChunkFiveRegular');
   font-weight: normal;
   font-style: normal;
}
html, body {height: 100%;}

body {border-top: 6px solid #333; 
      background-image:url('../images/tile.jpg'); repeat-x;
      color: #333;
}

h1 {font-family: ChunkFiveRegular; font-size: 25px;}

header {margin: 5px 40px 0 40px;}
#logo  {height: 43px; width:390px;}

nav.main {margin-right: 40px; float: right; }
nav.main ul {display: inline; list-style: none;}
nav.main ul li {display: inline-block; list-style: none; padding-left: 40px;}

nav.main h1 {font-size: 25px;}
nav.main a {display: block;}
nav.main a:link { color: #666; text-decoration: none;}
nav.main a:visited {text-decoration: none; color: #666;}
nav.main a:hover {color: #AFEBF9;}

.selected { color: #AFEBF9; }
section { margin: 60px; min-height: 100%;}
section h1 {color: #333;}

#banner {width: 800px; margin: 0px auto;}
#banner h1 {font-size: 60px;}
#banner span {color:#AFEBF9;}

article {margin:40px auto; width: 700px;}
article p {margin-top: 10px;}

footer {padding: 0px 20px 0px 20px; 
        position: relative; 
        clear: both; 
        margin-top: 50px;
        height:50px;
        background-color: #333;
        color: #FFF;
}

#fb-root { float: right;}
