/* Import Compass mixins */
/* ===================== */
@import "compass/reset.scss";
@import "compass/layout.scss";

@include sticky-footer(72px, "#wrapper", "#clear-footer", "#footer");


/* Fonts and Font-Faces */
/* ==================== */

/* Heading Fonts */
@font-face {
  font-family: 'BebasNeueRegular';
  src: url('/fonts/BebasNeue-webfont.eot');
  src: url('/fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/BebasNeue-webfont.woff') format('woff'),
       url('/fonts/BebasNeue-webfont.ttf') format('truetype'),
       url('/fontsBebasNeue-webfont.svg#BebasNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;

}

/* Icon Fonts */
@font-face {
  font-family: 'IcoMoon';
  src: url('/fonts/IcoMoon.eot');
  src: url('/fonts/IcoMoon.eot?#iefix') format('embedded-opentype'),
	url('/fonts/IcoMoon.svg#IcoMoon') format('svg'),
	url('/fonts/IcoMoon.woff') format('woff'),
	url('/fonts/IcoMoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'IcoMoon';
	content: attr(data-icon);
	speak: none;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'IcoMoon';
	font-style: normal;
	speak: none;
}

/* Font icon classes */
.icon-github:before  { content: "\0021" }
.icon-twitter:before { content: "\0022"; }
.icon-gplus:before { content: "\0023"; }
.icon-facebook:before { content: "\0024"; }
.icon-mail:before { content: "\0025"; }
.icon-feed:before { content: "\0026"; }

/* Style Variables */
/* =============== */

/* Color Variables */
$orange: #F47421;        // pirmary a:link hover color     
$grey: #333;            //  primary header color
$greyBG: #F8F8F8;      //   primary background color

/* Font Variables */
$bebas: 'BebasNeueRegular';                 // primary header font 
$sans: Helvetica, Arial, sans-serif;       //  primary body-text font/fallback

/* Widths/Layout Variables */
$gutter: 80px;


/* Mixins */
/* ====== */
@mixin circle { 
	border-radius: 7em; 
	-moz-border-radius: 7em;  
	-webkit-border-radius: 7em; 
	text-align: center;
	width: 3em; height: 3em;
}

/* Layout */
/* ====== */

/* body/layout defaults */
body { font: normal 1em $sans; color: 000; }

h1 { font: normal 2em/.75em $bebas, $sans; color: $grey; }

a { color: $grey; 
  &:hover { text-decoration: none; color: $orange; }
}

/* Header */
header {
  margin: 0 auto;
  
  h1 { margin-left: $gutter; font-size: 2em; margin: 2em 0; background: $orange; float: left;  
  
  	a { color: #fff; text-decoration: none; text-align: center;
  	  &:hover { text-decoration: none; color: $grey; }
  	}
  }
  
  ul { float: right; width: 5em; margin-right: $gutter;
    li { display: inline; margin-left: .5em; }
  }
}

/* Hero banner */
#hero { margin-left: $gutter; margin-right: $gutter; background: $greyBG; }




